.shop-metabo{
  --bs-primary: #007162;
  --bs-primary-dark: #224b44;

  --bs-link-color: #007162;
  --bs-link-color-rgb: 0 113 97;
  --bs-link-hover-color-rgb: var(--bs-primary-dark);
  --bs-border-radius: 0;
  --checked-color: var(--bs-primary);

  .g-item-alt__price--new{
    font-family: inherit;
  }

  .btn{
    --bs-btn-padding-y: 16px;
    --bs-btn-font-size: 1rem;
    text-transform: none;
    --bs-btn-line-height: 1;
    --bs-btn-font-weight: 400;
    --bs-btn-border-radius: var(--bs-border-radius);
  }
  @include media-breakpoint-up(sm){
    .g-item-alt__title {
      font-size: 12px;
    }
  }
  a{
    //text-decoration: underline;
  }
  .bx-sls .bx-ui-sls-route{
    top: 3px !important;
  }
  @include media-breakpoint-up(lg) {
    .sOrder__row > * {
      padding: 20px;
    }
  }
}
 

