mixin sServises(data)
	// start sServises
	+b.sServises.section#sServises&attributes(attributes)
		.container 
			+e.head-row
				mixin item(t,p) 
					+e.item
						+e.title= t
						p!= p
				+item(`Гарантия`,`После приобретения инструмента Einhell в нашем интернет-магазине вы получаете гарантийный срок длительностью 1 год. С каждым инструментом предоставляется гарантийный талон с печатью.`)
				+item(`Возврат и обмен товара`,`Возврат и обмен товара осуществляется в соответствии с Законом «О защите прав потребителей» и дает право вернуть или обменять товар надлежащего качества, приобретенный в нашем магазине, в течение 14 дней, не считая дня покупки.`)
				+item(`Адрес приема покупателей по вопросам возврата/обмена товаров`,`109444, Москва, Сормовский пр-д, 11/7, 1 подъезд, 3 этаж, офис ООО "Стартул"`)
				+item(`Время приема покупателей по вопросам возврата/обмена товаров`,`Пн. – пт.: 10:00 – 18:00`)
			+e.line
				h3 Сдача в ремонт Онлайн
			p Если Вам необходимо обратиться в Сервисный Центр, выберите свой город из списка ниже
			//- .city-select
			//- 	select.form-select
			//- 		option(value="") Выберите город
			//- 		option(value="") Выберите город 1
			//- 		option(value="") Выберите город 2
			//- 		option(value="") Выберите город 3
			+e.table-wrap
				table.table.table-city
					thead.d-none
						th
						th
						th
						th
						th
					tbody
						mixin td(...items)
							tr
								td: div
									a(href="#").text-secondary На карте
								each item in items
									td: div= item
						- for (var x = 0; x < 3; x++)
							+td("г.Абакан",'ООО "Инструмент"','ул. Пушкина, 211, литер 3В','(3902) 34 54 66')
							+td('г.Абакан','ИП Подоплелова Т.И.','ул. Итыгина д. 10Ж','(3902)28-57-15')
							+td("г.Белгород",'ИП Шабанова Е. Ю.','Просп.Богдана Хмельницкого 127','8-950-718-80-34')
							+td("г.Владивосток",'ООО "Бизнесстройинструмент"','пр-т 100-летия Владивостоку, 113','(4232) 31 59 08')
							+td("г.Волжский",'ООО "Инструмент-Сервис"','ул. Большевистская, 70 "б"','(8443) 27 03 03')
							+td("г.Волжский",'ООО "Инструмент-Сервис"','ул. Большевистская, 70 "б"','(8443) 27 03 03')
							+td("г.Волжский",'ООО "Инструмент-Сервис"','ул. Большевистская, 70 "б"','(8443) 27 03 03')
							+td("г.Волжский",'ООО "Инструмент-Сервис"','ул. Большевистская, 70 "б"','(8443) 27 03 03')
							+td("г.Ижевск",'ИП Данилов М.В.','ул.Пойма д.7','(3412) 90-80-94')
	// end sServises